# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/

# Output and results
output/
*.png
*.csv
!data/*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/ 